html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #FF9B71;
}

.customColor {
    background-color: rgb(0, 94, 124);
}

.textColor {
    color: rgb(0, 148, 198) !important;
}

#unique{
    background-color: aqua;
}
