@using DataAccess.Context.Entity
@using Microsoft.AspNetCore.Http
@using WebShop.Extensions

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebShop</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WebShop.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="customColor navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="textColor navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">WebShop</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="textColor nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        @if(Context.Session.GetUserRole() == Role.Admin.ToString())
                        {
                            <li class="nav-item">
                            <a class="nav-link textColor" asp-area="" asp-controller="SubCategory" asp-action="Index">SubCategory</a>
                            </li>
                             <li class="nav-item">
                                <a class="nav-link textColor" asp-area="" asp-controller="Category" asp-action="Index">Category</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link textColor" asp-area="" asp-controller="Product" asp-action="Index">Products</a>
                            </li>
                        }
                    </ul>
                </div>

                <div class="collapse navbar-collapse d-flex" id="bs-example-navbar-collapse-1">
                  <ul class="nav navbar-nav">
                        @if(Context.Session.GetUsername() != null)
                        {
                            <li><a class="nav-link text-dark" >Hello, @Context.Session.GetUsername()!</a></li>
                            <li><a class="nav-link text-dark" asp-controller="Cart" asp-action="Index">My cart</a></li>
                            <li><a class="nav-link text-dark" asp-controller="User" asp-action="SignOut">Sign out</a></li>
                        }
                        else
                        {
                            <li><a class="nav-link text-dark" asp-controller="User" asp-action="SignUp">Sign up</a></li>
                            <li><a class="nav-link text-dark" asp-controller="User" asp-action="SignIn">Sign in</a></li>
                        }
                  </ul>
                </div><!-- /.navbar-collapse -->
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - WebShop - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/fslightbox.js" asp-append-version="true"></script>
    <base href="~/" />
    <script src="_framework/blazor.server.js"></script> 
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/cart.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false )
    @await RenderSectionAsync("Products", required: false)
</body>
</html>
