@page "/fetchdata"

<PageTitle>Weather forecast</PageTitle>

@using BlazorTest.Data
@using DataAccess.Context.Entity
@using WebShopServices.Managers
@inject WeatherForecastService ForecastService
@inject ICategoryManager CategoryManager
<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from a service.</p>

@if (categories == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Id</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var category in categories)
            {
                <tr>
                    <td>@category.Name</td>
                    <td>@category.Id</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private List<Category>? categories;

    protected override async Task OnInitializedAsync()
    {
        categories = CategoryManager.GetAll();
    }
}
